<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="auto">
  <head>
    <script src="/assets/js/color-modes.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.115.4" />
    <title><%- pageName %> · Ptracker</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/dashboard/"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
    />

    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="/assets/css/dashboard.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('./components/modalMovements') %> <%-
    include('./components/themeSwitch') %>

    <header
      class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow"
      data-bs-theme="dark"
    >
      <a
        class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white"
        href="#"
        ><img src="/assets/images/Sesi-SP.jpg" width="130px"
      /></a>

      <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
          <button
            class="nav-link px-3 text-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSearch"
            aria-controls="navbarSearch"
            aria-expanded="false"
            aria-label="Toggle search"
          >
            <svg class="bi">
              <use xlink:href="#search" />
            </svg>
          </button>
        </li>
        <li class="nav-item text-nowrap">
          <button
            class="nav-link px-3 text-white"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <svg class="bi">
              <use xlink:href="#list" />
            </svg>
          </button>
        </li>
      </ul>

      <div id="navbarSearch" class="navbar-search w-100 collapse">
        <input
          class="form-control w-100 rounded-0 border-0"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <%- include('./components/sidebar') %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="container">
            <div class="row">
              <div class="row">
                <h3 class="pt-3">Verificando objetos</h3>
                <div class="input-group p-4">
                  <input
                    type="text"
                    class="form-control"
                    id="insertBox"
                    placeholder="Número de Id"
                    aria-label="Número de identificação do objeto"
                  />

                  <button
                    class="btn btn-outline-success px-4 col-3 mx-auto"
                    type="button"
                    id="searchButton"
                  >
                    Verificar
                  </button>
                </div>
              </div>
              <div id="notFound" hidden><h4>Objeto não encontrado</h4></div>

              <div id="objectData" class="row row-cols-1 row-cols-md-3 g-4">
                <div id="imgDiv" class="col-md-5 col-lg-4 order-md-last">
                  <%- include('./components/loading') %>
                </div>
                <div class="col-md-7 col-lg-8">
                  <form class="needs-validation" novalidate>
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <label for="objectId" class="form-label">Id</label>
                        <input
                          type="text"
                          class="form-control"
                          id="objectId"
                          disabled
                          placeholder=""
                          value=""
                          required
                        />
                      </div>

                      <div class="col-sm-6">
                        <label for="objectName" class="form-label">Nome</label>
                        <input
                          type="text"
                          class="form-control"
                          id="objectName"
                          placeholder=""
                          value=""
                          disabled
                          required
                        />
                      </div>

                      <div class="col-12">
                        <label for="description" class="form-label"
                          >Descrição</label
                        >
                        <div class="input-group has-validation">
                          <textarea
                            class="form-control"
                            id="description"
                            placeholder=""
                            disabled
                            required
                          /></textarea>
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="createdAt" class="form-label"
                          >Inserido em</label
                        >
                        <input
                          type="datetime"
                          class="form-control"
                          disabled
                          id="createdAt"
                        />
                      </div>
                    </div>
                  </form>
                  <div class="mx-auto pt-3 text-center">
                    <button
                      class="btn btn-secondary"
                      id="btnHistory"
                      disabled
                      data-bs-toggle="modal"
                      data-bs-target="#movementsModal"
                    >
                      Clique aqui para ver histórico de movimentação
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
      integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/verifyingObject.js"></script>
    <script src="/assets/js/dashboard.js"></script>
  </body>
</html>
